<%- include('../partials/header') %>
<h2>About Us</h2>
  <p><img class="pic" src="images/Year Up.jpg"</p>
  <p>Year Up Puget Sound is a one-year intensive training program, featuring six months of skills training and a six-month internship at more than 40 top companies. At Year Up Puget Sound, students specialize in one of four tracks: Information Technology, Business Operations, Software Development, and Application Development. With training specifically tailored to meet workforce needs, students at Year Up graduate career-ready.</p>
<%- include('../partials/footer') %>
