<%- include('../partials/header') %>
<h2>Atlanta Braves</h2>
  <p><img class="pic" src="images/Atl.png"</p>
  <p>A dominant all-around effort secured a Game 6 win, allowing an 88-win team to beat the Houston Astros and triumph at a stage that more celebrated Braves teams of the past usually struggled.</p>
<%- include('../partials/footer') %>
