<%- include('../partials/header') %>
<h2>Home</h2>
  <p><img class="pic" src="images/fall-wear.jpg"</p>
  <p>Here on this platform, I am building a Node.js website using Express.js </p>
<%- include('../partials/footer') %>
