<%- include('../partials/header') %>
<h2>Inspiration</h2>
  <p><img class="pic" src="images/Kobe.jpg"</p>
  <p>Kobe Bryant was born on August 23, 1978, in Philadelphia, PA. He entered the NBA directly from high school, and he has played for the Lakers his entire career. As a rookie, Bryant earned himself a reputation as a high-flyer and a fan favourite by winning the 1997 Slam Dunk Contest. He was named an All-Star in his second season. Bryant and Shaquille O’Neal led the Lakers to three consecutive championships from 2000 to 2002. They had an ongoing feud at the time. Bryant became the youngest player in league history to reach 30,000 career points. He is also the all-time leading scorer in Lakers franchise history. Since his second year in the league, Bryant has been chosen to start every All-Star Game for a record 18 consecutive appearances.</p>

<%- include('../partials/footer') %>
