<%- include('../partials/header') %>
<h2>Links</h2>
  <p><img class="pic" src="images/300x400.JPG"</p>
  <p>Clever content goes here</p>
  <p>Clever content goes here</p>
  <p>Clever content goes here</p>
  <p>Clever content goes here</p>
  <p>Clever content goes here</p>
<%- include('../partials/footer') %>
